*{
	margin: 0;
	}
	
@font-face{
	font-family: "Secular";
	src: local("Secular.ttf"), local("Secular"), url("Secular.ttf") format("truetype");
	}
	
body{
	font-family: "Secular";
	color: white;
	background-color: black;
	}
	
#ImageBlock{
	height: 60px;
	width: 60px;
	margin-left: 82vw;
	}
	
#ImageBlock:hover{
	height: 80px;
	width: 80px;
	margin-left: 77vw;
	}
	
#Rafael{
	margin-top: 10%;
	margin-left: 20%;
	height: 70%;
	width: 70%;
	object-fit: cover;
	border: 2px solid #1F51FF;
	border-radius: 50%;
	}
	
#flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
	
#links{
	list-style-type: none;
	font-size: 8vw;
	text-align: center;
	margin-top: 15vh;
	width: 75vw;
	}
	
#links li{
	display: inline-block;
	margin-bottom: 5vh;
	}
	
#links li:hover{
	border-bottom: 2px solid white;
	font-size: 9vw;
	}
	
#links li a{
	text-decoration: none;
	color: inherit;
	}
	
#links li a:active{
	color: yellow;
	}

	
	
@media all and (min-width: 481px) and (max-width: 780px){
	#ImageBlock{
	height: 100px;
	width: 100px;
	margin-left: 82vw;
	}
	
	#ImageBlock:hover{
	height: 120px;
	width: 120px;
	margin-left: 80vw;
	margin-bottom: -1vh;
	}
	
	#Rafael{
	border: 3px solid #1F51FF;
	}
	
	#links{
	font-size: 7vw;
	text-align: center;
	width: 80vw;
	}
	
	#links li{
	display: inline-block;
	margin-bottom: 5vh;
	}
	
	#links li:hover{
	border-bottom: 3px solid white;
	font-size: 8vw;
	}
}

@media all and (min-width: 781px) and (max-width: 1200px){
	
}

@media all and (min-width: 1201px) and (max-width: 1600px){
	
}
	
@media all and (min-width: 1601px){
	
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	