*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing:  border-box;
	text-size-adjust: none;
	}
	
a{
	text-decoration: none;
	}
	
div{
	height: 50px;
	width: 50px;
	border: 1px solid black;
}

/*O seletor nth seleciona um elemento específico de acordo com sua posição em um grupo de elementos de um bloco pai, levando em conta todos os outros elementos:*/
div:nth-child(4){
	background-color: blue;
}

/*colocando nth-last-child, irá selecionar o elemento na ordem reversa:*/

div:nth-last-child(1){
	background-color: green;
}

/*O seletor nth-child não diferencia os tipos (tags) dos elementos dentro do pai, sendo assim ele passa por cada elemento independente da tag.
	já o seletor nth-of-type, considera apenas os elementos do mesmo tipo especificado no css, e aplica a lógica apenas neles.*/
