*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing:  border-box;
	text-size-adjust: none;
	}
	
a{
	text-decoration: none;
	}
	
@keyframes scale{
	100% {transform: scale(1.5);}
}
@keyframes rotate{
	100% {transform: rotateX(180deg);}
}
@keyframes skew{
	0% {transform: skew(-45deg);}
	100% {transform: skew(45deg);}
}
	
.block1, .block2{
	display: flex;
	justify-content: space-evenly;
	margin-top: 20%;
}

.block-element{
	height: 50px;
	width: 50px;
	background-color: red;
}

.block-element{
	border-bottom: 5px solid blue;
	transition: linear 0.3s;
}

.block1__element1:hover{
	transform: scale(1.5);
}

.block1__element2:hover{
	transform: rotateX(180deg);
}

.block1__element3:hover{
	transform: skew(-45deg);
}

/*Animation shorthand:
*/
.block2__element1{
	animation: scale 1s linear infinite alternate;
}

.block2__element2{
	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.block2__element3{
	animation: skew 1s linear infinite alternate;
}