
.banner{
	height: calc(100vh - 35vw);
	margin-top: 25vw;
	background-image: url("../../images/common/bg.jpg");
}

.desktop-tel-icon{
	display: none;
}

.banner .slider-area{
	width: 300vw;
}

.banner .slider-area__slide{
	padding-top: 20vh;
	color: white;
	text-transform: uppercase;
}

.baner h1, .banner h2, .banner h3{
	margin: 0;
}

.banner h3{
	color: white;
	font-size: 5vw;
}
