
.services{
	background-color: black;
	color: white;
}

.services__content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services__item{
	width: 40%;
	margin-top: 4vw;
	margin-bottom: 2vw;
}

.services__item p{
	color: grey;
}

.services__item img{
	height: 15vw;
}





@media (min-width: 601px) and (max-width: 1023px){
.services__item{
	width: 35%;
	margin-top: 4vw;
	margin-bottom: 2vw;
}


.services__item img{
	height: 12vw;
	}
}



@media (min-width: 1024px){
.services__content{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.services__item{
	width: auto;
	margin: 0 10%;
}

.services__item img{
	height: auto;
	width: 10%;
	}
}