
header{
	background-color: black;
	padding-top: 5%;
	padding-bottom: 5%;
	height: 25vw;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}

.header__logo{
	height: 12vw;
	margin-left: 10vw;
}

.header__mobile-icons{
	display: flex;
	align-items: center;
}

.header__mobile-icons img{
	margin-right: 10vw;
}

.mobile-tel-icon{
	height: 13vw;
}

.mobile-menu-icon{
	height: 8vw;
}

.header__desktop-menu{
	display: none;
	color: white;
}

.mobile-menu-area{
	position: fixed;
	width: 0%;
	right: 0;
	height: 90%;
	top: 25vw;
}

.header__mobile-menu{
	position: absolute;
	right: 0;
	background-color: rgba(00, 00, 00, 0.8);
	color: white;
	width: 0%;
	height: 100%;
	font-size: 4.5vw;
	font-weight: bold;
	padding-top: 5vw;
	transition: ease-in-out 0.3s;
	overflow: hidden;
}

.header__mobile-menu ul li{
	padding-top: 3.5vw;
	padding-bottom: 3.5vw;
	padding-right: 10vw;
	margin-left: 12vw;
	white-space: nowrap;
	color: white;
	text-transform: uppercase;
}

.header__mobile-menu li:hover{
	color: orange;
}




