/* Resets */
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	/* Removendo efeito de click nos links*/
	-webkit-tap-highlight-color: transparent;
	}
	
@font-face{
	font-family: "MsMadi";
	src: local("MsMadi.ttf"), local("MsMadi"), url("MsMadi.ttf") format("truetype");
	}
	
a{
	text-decoration: none;
	}
	
/* Animação do avião */
@keyframes plane{
	0% {left: -100px; visibility: visible;}
	100% {left: 130vw; visibility: hidden;}
	}
	
body{
	font-family: Arial, Sans-Serif;
	}
	
#menu{
	font-family: Arial, Sans-Serif;
	text-transform: uppercase;
	font-size: 22px;
	/* Fixando menu no topo. O fixed será removido em 
	telas maiores para o menu ficar ao lado da logo*/
	position: fixed;
	width: 0%;
	height: 70%;
	transition: linear 0.5s;
	z-index: 99;
	}
	
#MenuButton{
	/* Aplicando  flex nas divs do botão para parecerem
	barras */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-top: 5px;
	background-color:white;
	border-radius: 10%;
	}
	
#MenuButton div{
	height: 4px;
	width: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: black;
	border-radius: 25%;
	}
	
#menu ul{
	/* Overflow hidden para esconder a lista
	completamente */
	overflow: hidden;
	background-color: #6495ED;
	/* Uma cor mais clara para o menu
	background-color: #0096FF;
	*/
	/* Prevenindo quebra de linha do texto das opções. 
	( Por puro perfeccionismo kkkk) */
	white-space: nowrap;
	border-radius: 0% 5% 5% 0%;
	margin-top: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	}
	
#menu ul a{
	/* display block nas tags a para selecionar as opções e
	para a animação das barras funcionar mesmo se o 
	usuário não clicar exatamente no item da lista */
	display: block;
	color: inherit;
	}
	
#menu ul a li{
	/* display inline-block nos items da lista para a barra
	animada ficar do tamanho do texto */
	display: inline-block;
	margin-left: 10%;
	margin-bottom: 20px;
	}
	
#menu ul a:hover{
	/* Mudando cor do texto quando se passa o mouse */
	color: white;
	transition: 0.5s;
	}
	
#menu ul a li div{
	/* Configurando  e escondendo as barras abaixo do texto */
	height: 3px;
	width: 0%;
	background-color: white;
	transition: linear 0.3s;
	}
	
#menu a:hover > li div{
	/* Animando as barras abaixo do texto quando o
	usuário passar o mouse */
	width: 100%;
	}

header{
	display: flex;
	height: 110px;
	/* Borda para testes
	border: 1px solid black;
	*/
	}
	
#LogoArea, #menu{
	/* Fazendo as duas divs área da logo e do menu 
	ocuparem o mesmo tamanho no header em telas
	maiores */
	flex: 1;
	}
	
#logoArea{
	/* Centralizando a logo no header em telas menores */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	}
	
#LogoArea #logo{
	width: 150px;
	/* Borda para teste
	border: 1px solid black;
	*/
	}
	
#LogoArea #plane{
	width: 100px;
	position: absolute;
	z-index: 99;
	right: 0vw;
	animation-name: plane;
	animation-duration: 3s;
	animation-timing-function: linear;
	visibility: hidden;
	}
	
#banner{
	height: 160px;
	/* Efeito degradê no banner:
	background-image: linear-gradient( to bottom, white, transparent 30%), url("banner.jpg");
	*/
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
	/* Fazendo a imagem se ajustar ao tamanho da div */
	background-size: 100%;
	}
	
#banner h1{
	font-size: max(4vw, 25px);
	width: 50%;
	padding-left: 15px;
	padding-top: 10px;
	color: #4169E1;
	text-shadow: -1px -1px 0px DarkBlue;
	text-transform: uppercase;
	}
	
/* Talvez fazer uma caixa de texto que sobe quando 
passa o mouse na div da imagem, com a frase "comprar
passagem". Talvez funcione se colocar a imagem como
background e aumentar o padding-bottom da div, ou
colocando outra div dentro e aumentando o tamanho
dela ou o padding-top*/

#BannerMenu{
	height: 60px;
	}
#BannerMenu ul{
	height: 100%;
	display: flex;
	}
	
#BannerMenu a{
	text-transform: uppercase;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	background-color: #4169E1;
	boorder-right: 1px solid black;
	boorder-left: 1 px solid black;
	}
	
#BannerMenu a:hover{
	background-color: #0096FF;
	}
	
#Container{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	}
	
#Container .ContainerBox{
	text-align: center;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	}
	
.ContainerBox h2{
	font-family: "MsMadi";
	margin-top: 30px;
	margin-bottom: 30px;
	color: #0047AB;
	font-size: max(5vw, 45px);
	}
	
.ContainerBox .ImageArea{
	position: relative;
	width: 100%;
	border: 1px solid black;
	margin-bottom: 30px;
	}
	
.ContainerBox #InlineImages{
	display: flex;
	justify-content: center;
	position: relative;
	}
	
#inlineImages img{
	width: 100%;
	height: 100px;
	flex: 1;
	}
	
.ContainerBox .buy{
	position: absolute;
	bottom: 10%;
	padding: 5px;
	background-color: green;
	text-decoration: none;
	color: white;
	}





	
	
	
	
	
	
	
	
	
	
	
	
	
	